<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="brand">
    <img src="assets/giftly/giftly-logo.png" alt="Giftly" />
    <p>Create an account to start shopping.</p>
  </div>

  <div class="field-row">
    <ion-input label="First Name" labelPlacement="stacked" fill="outline" [(ngModel)]="firstname" class="field"></ion-input>
    <ion-input label="Last Name" labelPlacement="stacked" fill="outline" [(ngModel)]="lastname" class="field"></ion-input>
  </div>

  <ion-input type="email" label="Email" labelPlacement="stacked" fill="outline" [(ngModel)]="email" class="field"></ion-input>
  <ion-input type="tel" label="Phone" labelPlacement="stacked" fill="outline" [(ngModel)]="phone" class="field"></ion-input>
  <ion-input type="password" label="Password" labelPlacement="stacked" fill="outline" [(ngModel)]="password" class="field"></ion-input>
  <ion-input type="password" label="Confirm Password" labelPlacement="stacked" fill="outline" [(ngModel)]="confirmPassword" class="field"></ion-input>

  <ion-button expand="block" class="giftly-btn-primary" [disabled]="submitting" (click)="register()">
    {{ submitting ? 'Creating account...' : 'Sign Up' }}
  </ion-button>

  <p class="switch-link">
    Already have an account? <a routerLink="/login">Login</a>
  </p>
</ion-content>
