<ion-input
  type="password"
  [label]="label"
  labelPlacement="stacked"
  fill="outline"
  [value]="value"
  (ionInput)="onInput($event.detail.value)"
  class="ps-input"
>
  <ion-input-password-toggle slot="end"></ion-input-password-toggle>
</ion-input>

<div class="password-meter" *ngIf="value.length > 0">
  <div class="meter-track">
    <div class="meter-fill" [class]="strengthLevel" [style.width.%]="strengthPct"></div>
  </div>
  <div class="meter-text" [class]="strengthLevel">{{ strengthLabel }}</div>
</div>
