<ion-tabs>
  <ion-tab-bar slot="bottom" class="giftly-tab-bar">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop" href="/tabs/shop">
      <ion-icon aria-hidden="true" name="bag-outline"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <div class="fab-spacer"></div>

    <ion-tab-button tab="orders" href="/tabs/orders">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <button class="fab-add" slot="bottom" routerLink="/build-a-box" aria-label="Build a box">
    <ion-icon name="add-outline"></ion-icon>
  </button>
</ion-tabs>
